*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}
#page1{
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    position: relative;
}
nav{
    width: 100%;
    padding: 2vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_left{
    display: flex;
    gap:1vw;
}
#nav_left a{
    padding: 10px 20px;
    border: 1px solid rgba(11, 5, 0, 0.2);
    border-radius: 100px;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
    z-index: 999;
    overflow: hidden;
}

#nav_left a::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
    z-index:-1;
}
#nav_left a:hover::after{
    bottom:0;
    border-radius: 0;
   
}
#nav_left a:hover{
    color:#fff
}

#hero{
    display: flex;
    justify-content: space-between;
    height: 67vh;
    padding: 2vw 2vw;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 5vw;
}

#hero_left{
    width: 45%;
    display: flex;
    align-items: end;
}

#hero_left p{
    font-size: 2vw;
    font-weight: 600;
    width: 70%;
}

#hero_right{
    width: 45%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: end;
}

#hero_right h1{
    font-size: 10vw;
    font-weight: 600;
    line-height: 1;
}


#page1 video{
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top:65vh;
}
#hero-1{
    width: 100%;
    height: 100%;
    filter: blur(10px);
    border-top-left-radius: 50%;
    background-color: #fe320a;
    border-bottom-left-radius: 50%;
    position: absolute;
}
#hero-2{
    width: 100%;
    height: 100%;
    filter: blur(20px);
    border-top-left-radius: 50%;
    background: linear-gradient(#fe320a, #fe570a);
    border-bottom-left-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#hero-3{
    background: linear-gradient(#fe320a, #fe570a);
    width: 100%;
    height: 100%;
    filter: blur(25px);
    border-top-left-radius: 50%;
    background-color: #fe320a;
    border-bottom-left-radius: 50%;
    position: absolute;
    animation-name: anime3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(10%, 10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}
@keyframes anime3 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(20%, 10%);
    }
}

